@model BlogCore.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="padding-top: 65px;">

  <div class="row">
    <div class="col-xl-2">
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Misión</h4>
                <p class="card-text">
                  beneficiarse de las tecnologías, herramientas y todo su equipo de trabajo para 
                  brindar la mejor experiencia de compras a través de Internet.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Visión</h4>
                <p class="card-text">
                  er la compañía con mejor enfoque a la experiencia del cliente. Desean que todos sus usuarios 
                  encuentren, descubran y compren lo que desean a través de Internet.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
    </div>
  </div>
  <br />
  <div class="row" style="background-color: #2c3e50; border-radius: 12px; box-shadow: 7px 7px 9px black;">
      <div>
          <br />
          <h3 style="color: white; text-align: center;">Newsletter</h3>
          <h5 style="color: white; text-align: center;">¿Quieres recibir nuestras promociones?.</h5>
          <br />
          <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
              <div class="input-group-append">
                <button class="btn btn-success" type="button">Enviar</button>
              </div>
          </div>
          <br />
      </div>
  </div>
</div>