@model BlogCore.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="padding-top: 65px;">
  <div class="row">
    <div class="col-xl-2">
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Misión</h4>
                <p class="card-text">
                  beneficiarse de las tecnologías, herramientas y todo su equipo de trabajo para 
                  brindar la mejor experiencia de compras a través de Internet.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Visión</h4>
                <p class="card-text">
                  er la compañía con mejor enfoque a la experiencia del cliente. Desean que todos sus usuarios 
                  encuentren, descubran y compren lo que desean a través de Internet.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
    </div>
  </div>
</div>